.homepage {
  background-image: url('/assets/botti.jpg');
  background-size: cover;
  height: 100vh;
  justify-content: center;
  display: flex;

}

.intro-block {
  top: 40%;
  margin-top: 20vh;
  margin-bottom: auto;
  background: rgba(0,0,0,0.5);
  padding: 20px;
  text-align: center;
  /* align-items: center; */
}

.intro-text {
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 30px;
}

input {
  margin-top: 10px;
  font-size: 20px;
}

p {

  margin: 0px
}