<div *ngIf="data1 && data1.length">
  <p>Data for Cellar: {{ data1[0].cellarCode }}</p>
  <div class="flex-container">
    <div *ngFor="let barrel of barrelData" class="flex-item" [routerLink]="[barrel.barrelCode]">
      <strong>barrel code: {{ barrel.barrelCode }}</strong>
      <div>
        <div
          class="c100"
          [class]="'p' + (barrel.barrelInfo && barrel.barrelInfo.percent) || 0"
          style="margin: 15px 60px;"
        >
          <span>{{ (barrel.barrelInfo && barrel.barrelInfo.percent) || 0 }}%</span>

          <div class="slice">
            <div class="bar"></div>

            <div class="fill"></div>
          </div>
        </div>
      </div>
      <br />
      <div *ngIf="barrel.barrelInfo">
        <p>Name: <strong>{{ barrel.barrelInfo.name }}</strong></p>
        <p>Current temp: <strong>{{barrel.barrelInfo.barrelCurrentTemp}}°</strong></p>
        <p>Current volume: <strong>{{ barrel.barrelInfo.barrelCurrentVolume }} liters</strong></p>
        <p>Capacity: <strong>{{ barrel.barrelInfo.barrelVolume }} liters</strong></p>
        <p>Type: <strong>{{barrel.barrelInfo.shape}}</strong></p>
        <div *ngIf="barrel.barrelInfo.shape === 'cylinder'">
          <p>position: <strong>{{barrel.barrelInfo.position}}</strong></p>
        </div>
      </div>
      <div *ngIf="!barrel.barrelInfo">
        <p>Click to configure</p>
      </div>
      <!-- <ul>
        <li *ngFor="let d of barrel.data">
          <p>temp: {{ d.tempLevel }} | wineLevel: {{ d.wineLevel }} | createdAt: {{ d.createdAt }}</p>
        </li>
      </ul> -->
    </div>
  </div>
</div>
<div *ngIf="!data1 || !data1.length">
  No data for this cellar code.
</div>
